


#pokedex-title {
  margin-left: 45px;
  color: #28536B;
  font-size: 100px;
}
.pokemon-list {
  list-style-type: none;
  padding-right: 40px;
  margin-right: 15%;
  margin-left: 15%;
}

.btn {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}












